.profile-dropdown {
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.visible {
    transform: scale(1);
    opacity: 1;
}
