.editor-wrapper {
    .btn {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
    }

    &:hover,
    &:focus-within {
        .btn {
            opacity: 1;
            visibility: visible;
        }
    }

    // overwrite default editor styling from monaco
    & > section {
        min-height: 100% !important;
    }
}
