.landing-circle {
    float: left;
    position: absolute;
    filter: blur(160px);
    width: 35%;
    height: 35%;
    border-radius: 40%;
    z-index: -1;
}

.landing-circle-left {
    background: linear-gradient(rgba(#9391ee, 0.5) 0%, rgba(#6765e7, 0.3) 100%);
    bottom: 10%;
    left: -5%;
}

.landing-circle-right {
    background: linear-gradient(rgba(#f5d0fe, 0.5) 0%, rgba(#f0abfc, 0.5) 100%);
    top: 10%;
    right: -5%;
}
