.search {
    .clear {
        opacity: 0;
        visibility: hidden;
    }

    &:hover,
    &:focus-within {
        .clear {
            opacity: 1;
            visibility: visible;
        }
    }
}
