// Main color theme in sass  variables
$color-main-50: #e9e9fc;
$color-main-100: #bebdf5;
$color-main-200: #9391ee;
$color-main-300: #6765e7;
$color-main-400: #5552e4;
$color-main-500: #3c38e0;
$color-main-600: #221fc7;
$color-main-700: #1b189a;
$color-main-800: #13116e;
$color-main-900: #0b0a42;
$color-main-1000: #040316;
