.logo {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 600;
    color: rgba($color-main-600, 0.9);
}

// Styling for mobile dropdown navbar
.mobile-nav {
    transform: translateX(-100%);
    transition: all 0.35s ease-out;
}

.mobile-nav.visible {
    transform: translateX(0%);
}

// Styling for hamburger menu toggling the dropdown
.hamburger-menu {
    $height: 2.5px;
    $gap: 6.5px;

    height: $height;
    width: 1.4rem;
    background-color: #64748b;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        height: $height;
        width: 100%;
        position: absolute;
        top: calc(50% - #{$height}/ 2);
        transition: all 0.35s ease-in-out;
        background-color: #4b5563;
        cursor: inherit;
    }

    &:before {
        transform: translateY(calc(-#{$gap} - 0.15px));
    }

    &::after {
        transform: translateY(#{$gap});
    }
}

// Hamburger menu when it is active (and dropdown menu is shown)
.hamburger-menu.active {
    background-color: transparent;

    &::before {
        transform: rotateZ(45deg);
    }

    &::after {
        transform: rotateZ(-45deg);
    }
}

// Quill editor read-only mode styling
// No toolbar, and no border should be shown on the prompt.
.read-only-editor {
    border-color: transparent;

    .ql-toolbar {
        display: none !important;
    }

    .ql-container.ql-snow {
        border-color: transparent !important;
    }

    .ql-editor {
        padding: 0 !important;

        &:focus {
            outline: none;
        }
    }
}

// Ql text editor codeblock light theme config
.ql-snow .ql-editor pre.ql-syntax {
    background-color: #f3f4f6 !important;
    color: #333 !important;
}

.ql-editor {
    min-height: 8rem;
    // Default font size
    font-size: 15px;

    // Configure font-family of the ql text editor.
    .ql-font-arial {
        font-family: Arial;
    }

    .ql-font-georgia {
        font-family: Georgia;
    }

    .ql-font-courier-new {
        font-family: 'Courier New';
    }

    .ql-font-calibri {
        font-family: Calibri;
    }

    .ql-font-helvetica {
        font-family: Helvetica;
    }

    .ql-font-lucida {
        font-family: lucida;
    }

    img {
        max-height: 17rem;
    }
}

.ql-snow {
    // Configure font sizes for different font size classes of ql.
    @for $i from 8 through 100 {
        .ql-size-#{$i}px {
            font-size: #{$i}px;
        }
    }
}
