.logo {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 600;
    color: rgba($color-main-600, 0.9);
}

// Quill editor read-only mode styling
// No toolbar, and no border should be shown on the prompt.
.read-only-editor {
    border-color: transparent;

    .ql-toolbar {
        display: none !important;
    }

    .ql-container.ql-snow {
        border-color: transparent !important;
    }

    .ql-editor {
        padding: 0 !important;

        &:focus {
            outline: none;
        }
    }
}

// Ql text editor codeblock light theme config
.ql-snow .ql-editor pre.ql-syntax {
    background-color: #f3f4f6 !important;
    color: #333 !important;
}

.ql-editor {
    min-height: 8rem;
}
