.modal {
    .triangle {
        position: absolute;
        bottom: 100.5%;
        left: 10%;

        width: 40px;
        height: 40px;
        overflow: hidden;
        box-shadow: 0 10px 16px -17px rgba(0, 0, 0, 0.5);

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: #f9fafb;
            transform: rotate(45deg);
            top: calc(20px * 1.5);
            left: calc(20px * 0.5);
            box-shadow: -1px 0px 11px -2px rgba(0, 0, 0, 0.5);
        }
    }
}
