.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: start;
}

.card {
    transition: all 0.35s ease-in-out;
}
